
<div class="container  border-bottom">

    <div class="row">
        <div class="col">
            <h5 class="text-bold fs-3">Porfolio</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nobis ad quae corrupti nostrum natus hic similique exercitationem temporibus eum culpa, libero modi sequi possimus iure vero? Eum, asperiores cum.</p>
        </div>
    </div>
    <div class="row my-2 p-1">
        <div class="col-4">
            <div class="card me-2 border border-0">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="imagen random">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card me-2 border border-0">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="imagen random">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card me-2 border border-0">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="imagen random">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card' s content.</p>
                </div>
              </div>
            </div>
      </div>
  </div>
  
</div>