<body>
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col-sm-12  col-md-6 col-lg-4 d-flex justify-content-end">
                <img src="https://img.freepik.com/foto-gratis/recortar-manos-escribiendo-teclado-pequeno_23-2147785021.jpg"
                    class="img-fluid rounded-circle col-6" alt="mano en el teclado">
            </div>
            <div class="col-sm-12  col-md-6 col-lg-8">
                <h1>The Second Heading <font color=" gray">Is Pretty Cool Too.</font>
                </h1>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. A repellat reprehenderit nobis aut
                    adipisci dolor sunt sit excepturi error quos quo, autem officiis laudantium modi aliquam atque qui
                    quia ab?</p>
            </div>
        </div>
    </div>
</body>